

<%= form_for post, html: { multipart: true, class: "editor-form", data: { page: 'main-editor' }, autocomplete: "off" } do |f| %>


  <% if post.picture? %>
    <div class="existing-img-previewer" id="existing-img-previewer">
      <%= image_tag post.picture.url(:thumb) %>
    </div>
  <% end %>
<hr>
  <div class="form-group">
    <%= f.text_field :title, class: 'editor-title', placeholder: 'Story Title and Image', autofocus: true, data: { behavior: "autosave" }, onfocus: "this.value = this.value;" %>
  </div>
<hr>
  <%= f.fields_for :location do |f| %>
  <%= f.text_field :address, class: 'form-control', placeholder: 'Start typing story location...', id: "searchTextField" %>
  <% end %>
<hr>
  <label class="picture_upload">
    <%= f.file_field :picture %>
    <i class="fa fa-camera"></i>
  </label>
  <div class="file-upload-previewer hidden">
    <img src="" id="image_preview"/>
  </div>

  <div class="form-group">
    <%= f.label :name, "Write your story below here. Click 'Publish' in the upper right corner when you're done. Add images to your post by pressing the + sign." %>
    <%= f.text_area :body, class: 'medium-editable', data: { behavior: "autosave" } %>
  </div>

  <div class="hidden">
    <%= f.text_field :all_tags %>
  </div>

<% end %>


<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAJaRDqIMsdNLeeQ0MQ-bob2D_QRuyvqi4"></script>
<script>
var input = document.getElementById('searchTextField');
// var options = {
//     componentRestrictions: {
//         country: 'us'
//     }
// };
var options = {
  types: ['geocode']
};

var autocomplete = new google.maps.places.Autocomplete(input, options);

google.maps.event.addListener(autocomplete, 'place_changed', function () {

    var place = autocomplete.getPlace();
    var lat = place.geometry.location.lat();
    var long = place.geometry.location.lng();
    // alert(lat + ", " + long);

});
</script>
